{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Youtube Channel Feed plugin for Craft CMS 3.x
 *
 * Youtube Channel Feed index.twig
 *
 * @author    remcoov
 * @copyright Copyright (c) 2020 remcoov
 * @link      https://obaia.nl
 * @package   YoutubeChannelFeed
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("remcoov\\youtubechannelfeed\\assetbundles\\youtubechannelfeed\\YoutubeChannelFeedAsset") %}
{% do view.registerAssetBundle("remcoov\\youtubechannelfeed\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/remcoov/youtube-channel-feed/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Youtube Channel Feed" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('youtube-channel-feed') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@remcoov/youtubechannelfeed/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('youtube-channel-feed') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('youtube-channel-feed') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
