{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Youtube Channel Feed plugin for Craft CMS
 *
 * YoutubeChannelFeedUtility Utility Content
 *
 * @author    remcoov
 * @copyright Copyright (c) 2020 remcoov
 * @link      https://obaia.nl
 * @package   YoutubeChannelFeed
 * @since     1.0.0
 */
#}

<h1>YoutubeChannelFeedUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@remcoov/youtubechannelfeed/assetbundles/youtubechannelfeedutilityutility/dist', true) ~ '/img/YoutubeChannelFeedUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>